<div class="flex flex-col h-[100vh] p-4">
    <nav
        class="header-container flex justify-between items-center bg-custom-primary px-2 sm:px-4 py-5 border-b rounded">
        <img class="h-[30px]" src="/assets/images/materion-logo-horizontal.png" alt="logo.alt">
    </nav>
    <div class=" flex flex-col grow p-4 mt-4 justify-center items-center rounded-lg border-[#00325A] border">
        <div class="flex flex-col font-semibold text-[30px] text-[#C3BFBF] w-1/2 uppercase mb-5 text-center">
            Welcome {{ userName }}
        </div>
        <div class="text-xs whitespace-nowrap flex justify-center items-center flex-col">
            <div>
                <span class="uppercase my-3">Set your password:</span>
                <form [formGroup]="formGroup" class="pt-3">
                    <div class="flex flex-row">
                        <div class="mr-5">
                            <nz-input-group [nzSuffix]="suffixTemplate" class="rounded border-2 border-custom-primary h-[40px] w-64">
                                <input
                                [type]="passwordVisible ? 'text' : 'password'"
                                nz-input
                                placeholder="password"
                                formControlName="password"
                                />
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <span
                                    class="text-custom-primary"
                                    nz-icon
                                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisible = !passwordVisible"
                                ></span>
                            </ng-template>
                        </div>
                        <div class="flex flex-col">
                            <nz-input-group [nzSuffix]="suffixTemplateConfirm" class=" rounded border-2 border-custom-primary h-[40px] w-64 mb-1">
                                <input
                                [type]="passwordVisibleConfirm ? 'text' : 'password'"
                                nz-input
                                placeholder="Re-enter Password"
                                formControlName="confirmPassword"
                                />
                            </nz-input-group>
                            <ng-template #suffixTemplateConfirm>
                                <span
                                    class="text-custom-primary"
                                    nz-icon
                                    [nzType]="passwordVisibleConfirm ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisibleConfirm = !passwordVisibleConfirm"
                                ></span>
                            </ng-template>
                            <span *ngIf="formGroup.get('confirmPassword')!.touched && formGroup.get('confirmPassword')!.hasError('mustMatch')" class="text-red-500">Passwords do not match.</span>
                        </div>
                    </div>
                    <div class="flex justify-end mt-4">
                        <button class="uppercase bg-white border-2 border-custom-primary py-2 px-5 rounded text-custom-primary font-medium "
                            [disabled]="!formGroup.valid" [ngClass]="{'bg-gray-400': !formGroup.valid}"
                            (click)="setPassword()">Set Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>